.reviews-main{
    padding-inline: 200px;
    padding-top: 100px;
}

.reviews-container{
    
    margin-block: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  .reviews-text-main{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 100px;
      padding-top: 50px;
  }
 
@media only screen and (max-width:688px){
    .reviews-main{
        padding-inline: 0px;
    }

    .reviews-container{
    
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .reviews-main h3{
        margin: 0px;
    }
    .hello{
        
        display:none;
        }
}