.single-review-container{
    padding:20px;
    min-height:400px;
    margin-bottom:50px;
    border-radius:50px 0px;

}
.rating{
    margin-left:120px;
    color: yellow;
}

.single-review-container img{
    height:100px;
    margin-left:150px;
    position:relative;
    bottom:50px;
}

@media only screen and (max-width:688px){
    .single-review-container{
        padding:20px;
        min-height:400px;
        margin-bottom:50px;
        width:360px;
       
    
    }
}
