.signup-button {
  border: none;
  padding-inline: 40px;
  padding-block: 15px;
  border-radius: 10px 5px 15px 0px;
  background-color: rgb(219, 25, 25);
  color: white;
}
.signup-button:hover {
  background-color: rgba(0, 33, 72);
}
.user img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 40px;
}
.dashboard-link{
  /* margin-right: 100px; */
}
