.my-booking-container{
    
}
.my-booking-content{
    border: 1px solid gray; 
    display: flex;
    font-family: candara;
    background-color:rgba(231, 25, 25, 0.815);
    color: white;
    height: 233px;
}
.my-booking-text h3{
    margin-left: 50px;
}
  .cancel-btn{
     border: none;
     width:200px ;
     height:233px;
     margin-left:200px;
     
     color:black;
 
     }
  .cancel-btn:hover{
    color:rgba(231, 25, 25, 0.815);
     }
     .status{
         margin-left:50px;
         font-family: candra;
         font-size:20px;
         margin-top:100px;
     }