.Little-sub{
    font-size:20px;
    font-weight:250;
    border-bottom: 1px solid rgb(226, 19, 19);
    width:220px;
}
.about-route-content-wrapper{
    margin-inline:200px;
}
.about-route-content-wrapper{
    display:flex;
    margin-top:250px;
}
.about-route-content-first{
    padding-right: 50px;
}
.first-card{
    width:500px;
    border-radius: 10px
}
.first-card img{
    width:250px;
}
.first-card-text{
    padding: 30px;
}
.second-card{
    height:280px;
    width:240px;
    padding-inline: 30px;
    padding-block: 30px;
    border-radius:10px;
    margin-top: 30px;
    
}
.view-details{
    border: none;
    background-color: white;
    
}
.view-details:hover{
    border: none;
    background-color: white;
    color: rgb(233, 20, 20);
    margin-right: 30px;

}
.why-choose-us-main{
    display: flex;
    padding-inline: 48px;
    margin-top: 150px;
}
.why-choose-us-left img{
    height:700px;
}
.why-choose-us-right{
    padding-inline:100px;
    margin-top:50px;
}
.why-choose-us-right-cards{
    display: flex;
}
.why-choose-us-right-card1{
    height:280px;
    width:270px;
    padding-inline: 20px;
    padding-block: 30px;
    border-radius:10px;
    margin-top: 30px;
}
@media only screen and (max-width:688px){
    .about-route-banner img{
        height: 100%;
        width:360px;
   }
   .about-route-content-wrapper{
    margin-inline:0px;
    padding-inline: 10px;
}
.about-route-content-wrapper{
    display:flex;
    flex-direction: column;
    margin-top:150px;
}
.first-card{
    width:350px;
    border-radius: 10px
}
.first-card img{
    width:200px;
    
}
.second-card{
    height:380px;
    width:240px;
    padding-inline: 30px;
    padding-block: 30px;
    border-radius:10px;
    margin-top: 30px;
    
}


.why-choose-us-main{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    margin-top: 50px;
}
.why-choose-us-left img{
     width:340px;
}
.why-choose-us-right{
    padding-inline:0px;
    margin-top:50px;
}
.why-choose-us-right-cards{
    display: flex;
    flex-direction: column;
}
.why-choose-us-right-card1{
    height:300px;
    width:350px;
    padding-inline: 20px;
    padding-block: 30px;
    border-radius:10px;
    margin-top: 30px;
}
}